<app-topbar></app-topbar>

<div fxLayout="row" class="main-container">
  <div fxFlex>
    <div fxLayout="row wrap">
      <app-video name="CAM 1" url="assets/20191026_225858.mp4"></app-video>
      <app-video name="CAM 2" url="assets/20191026_225830.mp4"></app-video>
      <app-video name="CAM 3" url="assets/20191026_225634.mp4"></app-video>
      <app-video name="CAM 4" url="assets/20191026_225724.mp4"></app-video>
    </div>
  </div>

  <div class="panel">
    <app-panel></app-panel>
  </div>

</div>

<router-outlet></router-outlet>
